@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@700&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    background-color: #0025aa;
}

#simbolo {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 70px;
    position: relative;
}

#simbolo a {
    color: #ffffff;
}

#shadow-simbolo {
    position: relative;
    top: -75px;
    background-color: rgba(0, 255, 255, 0);
    height: 70px;
    width: 70px;
    box-shadow: inset #0025aaa9 0 -30px 15px;
}

a {
    text-decoration: none;
}

#logotipo {
    font-size: 90px;
    font-family: 'Alumni Sans', sans-serif;
    width: 500px;
    height: 100px;
}

#logotipo a {
    color: white;
}

#shadow-logotipo {
    background-color: 0025aa;
    width: 337px;
    height: 100px;
    position: relative;
    top: -100px;
    box-shadow: inset #0025aab4 0px -45px 18px 0px;
}

